/* tag types */

/*
  TODO: PERHAPS ADD SASS
*/

/**{ // TODO: hide scroll bar?
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}*/

:root {
  --highlight: orange;
  --lighthighlight: #FEB062;
  --lighter: #737373;
  --lesslighter: #626262;
  --neutral: #515151;
  --lessdark: #323232;
  --dark: #2B2B2B;
  --darkest: #131313;
  --lightgray: lightgray;
}


/* REMOVES ARROWS FROM INPUT-NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ============================== */

span {
  display: flex;
  flex-direction: row;
}

body {
  background-color: var(--neutral);
}

.App {
  text-align: center;

  background-color: var(--neutral);
  color: white;

  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 25;
}

.HomeWrapper {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.Pointer {
  cursor: pointer;
}

.LeftSidebar, .RightSideBar {
  height: 100vh;
  background-color: var(--darkest);

  display: flex;
  flex-direction: row;
}
.LeftSidebar {border-right: 3px solid black;}
.RightSideBar {border-left: 3px solid black;}

.LeftSidebarContentArea, .RightSidebarContentArea {
  height: 100%;
  overflow: auto;
  color: white;
  font-size: 14px;
}
.LeftSidebarContentArea {width: 12vw;}
.RightSidebarContentArea {width: 40vw;}

.LeftSidebarCollapsableArea, .RightSidebarCollapsableArea {
  width: 15px;
  height: 100%;
  background-color: var(--dark);
  color: lightgray;
  font-weight: bold;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.LeftSidebarCollapsableArea {border-left: 3px solid black;}
.RightSidebarCollapsableArea {border-right: 3px solid black;}

.SideBarInputField {
  padding-block: 0;
  padding-right: 3px;
  border-radius: 2px;
  background-color: var(--lightgray);
  color: black;
  border: none;
  outline: None;
}

.SideBarDivider {
  width: 100%;
  height: 1px;
  background-color: var(--lightgray);
  opacity: 0.3;
  margin-block: 2px;
}

.SettingsSection {
  padding-block: 2px;
  padding-left: 5px;
  border-bottom: 1px #4a4a4a solid;
}

.RightAlignDown {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.SideBarStatLabel {
  font-size: 15px;
  color: white;
}

.SideBarStatValue {
  font-size: 15px;
  color: #ff699e;
}

.TopBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--neutral);
  width: 100%;
}

.SearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  flex-grow: 1;
}

.InputAreasTopWrapper {
  background-color: var(--lessdark);
  margin-bottom: 5px;
  border-bottom: 3px var(--darkest) solid;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.InputAreas {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NumDaysInput, .SearchBar {
  box-shadow: 0px 10px 13px -7px var(--darkest), 0px 3px 0px 0px var(--darkest);
  height: 25px;
  padding: 8px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  outline: None;
  margin-right: 10px;
  background-color: white;
}

.NumDaysInput {
  width: 40px;
}

.SearchBar {
  width: available;
  flex-grow: 1;
}

.NumDaysInput:focus, .SearchBar:focus {
  box-shadow: 0px 0px 2px 2px var(--highlight);
}

.DayContainer {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ResultBox {
  background-color: var(--dark);
  box-shadow: 0px 10px 13px -7px var(--darkest), 0px 3px 0px 0px var(--darkest);
  border-top: 1px var(--lighter) solid;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;

  display: flex;
  flex-direction: row;

  text-align: left;
}

.SearchSubmit, .Base64Copy {
  box-shadow: 0px 10px 13px -7px black, 0px 3px 0px 0px black;
  border-width: 0px;
  border-top: 1px var(--neutral) solid;

  height: 41px;
  background-color: var(--darkest);
  color: white;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.Base64Copy {
  height: 41px;
  padding: 0;
  padding-inline: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SearchSubmit:hover, .Base64Copy:hover {
  background-color: #303030;
}

.SearchSubmit:active, .Base64Copy:active {
  background-color: #414141;
}

.ResultArea {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.ResultType {
  font-size: 20px;
  font-weight: bold;
  padding-right: 6px;
}

.Divider {
  height: 5px;
  border-block: 2px black solid;
  background-color: var(--lessdark);
  width: 100%;
  margin-block: 10px;
}

.Desktop {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.MainDesktop {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.DesktopSide {
  width: 5%;
  height: 100%;


  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.DesktopBox {
  box-shadow: 0px 10px 13px -7px var(--darkest), 0px 8px 0px 0px var(--darkest);
  border-top: 1px var(--lighter) solid;
  background-color: var(--dark);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;

  display: flex;
  flex-direction: column;

  margin-right: 10px;

  text-align: left;
}

.DesktopTitle {
  background-color: #1f7300;
  color: black;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.Link {
  color: var(--highlight);
  padding-left: 8px;
}

.LinkCheck {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.LinkLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.OpenLinksButton {
  background-color: var(--neutral);
  color: white;
  border-width: 0;
  box-shadow: 0px 10px 13px -7px var(--darkest), 0px 3px 0px 0px var(--darkest);
  border-top: 1px var(--lighter) solid;

  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.OpenLinksButton:hover {
  background-color: var(--lesslighter);
}

.OpenLinksButton:active {
  background-color: var(--lighter);
}

.IconButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.LinkSettingsRow {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3c3c;
  margin-bottom: 5px;
}

.LinkSettingName {
  width: 15%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
  font-weight: bold;
}

.LinkSettingFormatLink {
  width: 78%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
}

.LinkSettingTitle {
  width: 90%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
}

.GeneralLinkSettingLabel {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.LinkRowSettingsPage {
  background-color: #4f4f4f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LinkRowAddButton {
  width: 100%;
  height: 64px;
  font-size: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
}

.LinkSettingRemove {
  width: 52px;
  height: 52px;

  font-size: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterFull {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.SettingsTopBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #3c3c3c;
  border-bottom: 4px black solid;

  text-align: center;
}

.SettingsTypeButton {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: None;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ConfigBox {
  background-color: var(--dark);
  color: white;
  border: 1px lightgray solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;

  margin-bottom: 20px;
  margin-right: 20px;
}

.ConfigArea {
  margin-top: 20px;
  width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LineCanvas {
  position: absolute;
  pointer-events: none;
}

.WhoIsBox {
  background-color: var(--neutral);
  box-shadow: 0px 10px 13px -7px var(--dark), 0px 3px 0px 0px var(--dark);
  //border: 1px lightgray solid;
  border-radius: 10px;
  padding: 3px;

  display: flex;
  flex-direction: column;
}

/*   TODO: this is how you can turn off the results from stretching out to match eachother
.LineElementDiv {
  width: fit-content;
  height: fit-content;
}
*/

.ExternalLink {
  margin-left: 6px;
  width: 15px;
  height: 15px;

  cursor: pointer;
}

.SpaceBetweenRow {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
}

/* TOOLTIP STUFF ================ */
.TooltipCopyBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 10px;
}

.TooltipCopyBody, .HoverClickLighten {
  cursor: pointer;
}

.TooltipCopyBody:hover, .HoverClickLighten:hover { /*TODO: fix transparency on table headers when scrolled!*/
  background-color: #FFFFFF22;
}

.TooltipCopyBody:active, .HoverClickLighten:active {
  background-color: #FFFFFF44;
}

/* TABLE STUFF ========== */
.TableCollapseBorders {
  border-collapse: collapse;
}

.StickyTableHeader {
  position: sticky;
  top: 0;
}
.StickyTableHeader th {
  background-color: var(--dark);
}

.StickyTableHeader th::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--lighter);
}

.TableSepLeft {
  border-left: 1px solid gray;
  padding-left: 5px;
}



/* GENERIC STUFF ============== */
.Inline {
  display: flex;
  justify-content: flex-start;
}

.InlineRight {
  display: flex;
  justify-content: flex-end;
}


/* PROGRESS BAR ==================================  */
.ProgressBarBlock {
  position: fixed;
  right: 50px;
  opacity: 0;
  bottom: -100px;

  transition-delay: 0.2s;
  transition-property: bottom, opacity !important;
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
}

.ProgressBarWrapper {
  overflow: hidden;
  border-radius: 999px;
  height: 15px;
  width: 300px;
  background-color: var(--lighter);
  box-shadow: 0px 10px 13px -7px var(--darkest), 0px 4px 0px 0px var(--darkest);
  margin-bottom: 4px;
}

.ProgressBarSuccess, .ProgressBarFail {
  background-color: #bcf672;
  transition-property: width !important;
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
}

.ProgressBarFail {
  background-color: #f16565;
}
