/* tag types */

/*
  TODO: PERHAPS ADD SASS
*/



span {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #696969;
}

.App {
  text-align: center;

  background-color: #696969;
  color: white;

  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 25;
}

.HomeWrapper {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.HomeLeftSideBar {
  flex: 1;
  background-color: #303030;
  border-right: 3px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-top: 20px;

  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*height: 100vh; // TODO: make sidebar sticky and add default background*/
}

.SideBarStatLabel {
  font-size: 15px;
  color: white;
}

.SideBarStatValue {
  font-size: 15px;
  color: #ff699e;
}

.TopBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #4f4f4f;
  width: 100%;
}

.SearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  flex-grow: 1;
}

.InputAreas {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SearchBar {
  height: 25px;
  padding: 8px;
  font-size: 24px;
  width: available;
  border-radius: 10px;
  border: none;
  outline: None;
  flex-grow: 1;
  margin-right: 10px;
}

.SearchBar:focus {
  box-shadow: 0px 0px 2px 2px orange;
}

.DayContainer {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NumDaysInput {
  width: 40px;
  height: 25px;
  padding: 8px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

.SearchSubmit, .Base64Copy {
  padding: 8px;
  background-color: #303030;
  color: white;
  border: 1px lightgray solid;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.Base64Copy {
  height: 41px;
  font-size: 16px;
  padding: 0;
  padding-inline: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SearchSubmit:hover, .Base64Copy:hover {
  background-color: #393939;
}

.SearchSubmit:active, .Base64Copy:active {
  background-color: #4a4a4a;
}

.ResultArea {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.ResultBox {
  background-color: #3c3c3c;
  color: white;
  border: 1.7px lightgray solid;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;

  display: flex;
  flex-direction: row;

  text-align: left;
}

.ResultType {
  font-size: 20px;
  font-weight: bold;
  padding-right: 6px;
}

.Divider {
  border-top: 3px black solid;
  width: 100%;
  margin-bottom: 20px;
}

.Desktop {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.MainDesktop {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.DesktopSide {
  width: 5%;
  height: 100%;


  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.DesktopBox {
  background-color: #3c3c3c;
  color: white;
  border: 1px lightgray solid;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  margin-right: 10px;

  text-align: left;
}

.DesktopTitle {
  background-color: #1f7300;
  color: black;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-radius: 7px;
  text-align: center;
}

.Link {
  color: orange;
  padding-left: 8px;
}

.LinkCheck {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.LinkLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.OpenLinksButton {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 7px;
  cursor: pointer;
}

.IconButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.LinkSettingsRow {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3c3c;
  margin-bottom: 5px;
}

.LinkSettingName {
  width: 15%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
  font-weight: bold;
}

.LinkSettingFormatLink {
  width: 78%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
}

.LinkSettingTitle {
  width: 90%;
  height: 32px;
  padding: 8px;
  font-size: 26px;
}

.GeneralLinkSettingLabel {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.LinkRowSettingsPage {
  background-color: #4f4f4f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LinkRowAddButton {
  width: 100%;
  height: 64px;
  font-size: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
}

.LinkSettingRemove {
  width: 52px;
  height: 52px;

  font-size: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterFull {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.SettingsTopBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #3c3c3c;
  border-bottom: 4px black solid;

  text-align: center;
}

.SettingsTypeButton {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: None;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ConfigBox {
  background-color: #4f4f4f;
  color: white;
  border: 1px lightgray solid;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;

  margin-bottom: 20px;
  margin-right: 20px;
}

.ConfigArea {
  margin-top: 20px;
  width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.LineCanvas {
  position: absolute;
  pointer-events: none;
}

.WhoIsBox {
  background-color: #303030;
  border: 1px lightgray solid;
  border-radius: 15px;
  padding: 3px;

  display: flex;
  flex-direction: column;
}

/*   TODO: this is how you can turn off the results from stretching out to match eachother
.LineElementDiv {
  width: fit-content;
  height: fit-content;
}
*/

.ExternalLink {
  margin-left: 6px;
  width: 15px;
  height: 15px;

  cursor: pointer;
}

.SpaceBetweenRow {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
}

/* TOOLTIP STUFF ================ */
.TooltipCopyBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 10px;
}

.TooltipCopyBody, .HoverClickLighten {
  cursor: pointer;
}

.TooltipCopyBody:hover, .HoverClickLighten:hover { /*TODO: fix transparency on table headers when scrolled!*/
  background-color: #FFFFFF22;
}

.TooltipCopyBody:active, .HoverClickLighten:active {
  background-color: #FFFFFF44;
}

/* TABLE STUFF ========== */
.TableCollapseBorders {
  border-collapse: collapse;
}

.StickyTableHeader {
  position: sticky;
  top: 0;
}
.StickyTableHeader th {
  background-color: #3c3c3c;
}

.StickyTableHeader th::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.TableSepLeft {
  border-left: 1px solid gray;
  padding-left: 5px;
}



/* GENERIC STUFF ============== */
.Inline {
  display: flex;
  justify-content: flex-start;
}

.InlineRight {
  display: flex;
  justify-content: flex-end;
}
