.App {
  text-align: center;

  background-color: #606060;
  color: white;

  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SearchContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 30px;
}

.SearchBar {
  width: 80%;
  height: 50px;
  padding: 8px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}

.SearchSubmit {
  width: 18%;
  height: 66px;
  background-color: #303030;
  color: white;
  border: 1px lightgray solid;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
}

.ResultArea {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ResultBox {
  background-color: #454545;
  color: white;
  border: 1px lightgray solid;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.ResultType {
  font-size: 20px;
  font-weight: bold;
  padding-right: 6px;
}

.MainDesktop {
  border: 1px lightgray solid;
  width: 100%;
}